<div>
    <!--DataTable-->
    <p-dataTable [value]="list"
                 selectionMode="single"
                 [(selection)]="selected"
                 scrollable="true"
                 scrollHeight="200px"
                 [contextMenu]="cm"
                 (onRowSelect)="onRowSelect($event)"
                 (onRowUnselect)="onRowUnselect($event)">
        <header>Company List</header>
        <footer>
            <button pButton type="text" (click)="click_Add()" icon="fa-check" label="Add"></button>
        </footer>
        <p-column field="travelphaseId" header="Id"></p-column>
        <p-column field="company" header="Company">
            <template let-col let-car="rowData" pTemplate type="body">
                <span>{{car.company?car.company.name:any}}</span>
            </template>
        </p-column>
        <p-column field="role" header="Role">
            <template let-col let-car="rowData" pTemplate type="body">
                <span>{{car.role?car.role.name:any}}</span>
            </template>
        </p-column>
        <p-column field="order" header="order"></p-column>
        <p-column field="phase" header="Phase">
            <template let-col  let-car="rowData" pTemplate type="body">
                <span>{{car.phase?car.phase.name:any}}</span>
            </template>
        </p-column> 
        <p-column field="phase_next" header="Phase Next">
            <template let-col let-car="rowData" pTemplate type="body">
                <span>{{car.phase_next?car.phase_next.name:any}}</span>
            </template>
        </p-column>

        <p-column field="isActive" header="Active"></p-column>
    </p-dataTable>
    <p-contextMenu #cm [model]="menu_items"></p-contextMenu>
    
    <!--Dialog-->
    <p-dialog [(visible)]="show_dialog" modal="true" responsive="true" draggable="false" resizable="false">
        <header>
            Header content here
        </header>
        <form (ngSubmit)="onSubmit()" #customerForm="ngForm" class="editForm" novalidate>

            <companyselector [(selectedItem)]="current.company"></companyselector>

            <div class="form-group">
                <label>Order</label>
                <input type="text" class="form-control" name="order" [(ngModel)]="current.order" #Name="ngModel" >
            </div>
            <phaseselector [(selectedItem)]="current.phase"></phaseselector>
            <phaseselector [(selectedItem)]="current.phase_next"></phaseselector>
            <roleselector [(selectedItem)]="current.role"></roleselector>
            <div class="form-group">
                <label>Action Desc</label>
                <input type="text" class="form-control" name="order_reject" [(ngModel)]="current.action_desc" #Name="ngModel">
            </div>
        </form>
        <footer>
            <div class="ui-dialog-buttonpane ui-widget-content ui-helper-clearfix">
                <button class="btn btn-default" (click)="onCancel($event)">Cancel</button>
                <button class="btn btn-success" [disabled]="!customerForm.dirty || !customerForm.valid" (click)="onSubmit()">Update</button>
            </div>
        </footer>
    </p-dialog>
    
   
</div> 